body {
    background-color: #f5f0ff; 
    color: #333; 
    font-family: Arial, sans-serif;
    margin: 50;
}

fieldset {
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #8a2be2;
    border-radius: 10px;
    background-color: #fff; /* Fundo do campo */
}

legend {
    font-weight: bold;
    color: #8a2be2;
}

input[type="text"],
input[type="date"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #8a2be2;
    border-radius: 5px;
    width: calc(100% - 18px);
}

input[type="submit"] {
    background-color: #8a2be2;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px; /* Ajuste do preenchimento interno */
    border: none;
    border-radius: 5px;
    width: 100%; /* Preenche toda a largura do campo */
    box-sizing: border-box; /* Inclui o preenchimento e a borda na largura total */
}

input[type="submit"]:hover {
    background-color: #6a1d9b;
}