body {
    background-color: #333333;
    color: #cccccc;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

a {
    color: #a875c2;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #7e549f;
}

/* Estilo para a mensagem de erro */
.error-message {
    color: #ff3333;
    font-weight: bold;
}